@media screen and (min-width:960px)
{
    .cross{
        display: none;
    }
    .menu_card_croud2{
        display: none
    }
}

@media screen and (max-width:960px)
    {
        
        body{
            overflow-x: hidden;
        }

    .logo_croud1{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 20vh;
        background-color: #271F1C;
        position: absolute;
}

    .logo_box{
        width: 60vw;
        height: 5vw;
        background-color: #A32728;
        position: absolute;
        top: 35%;
        left: 0%;
        transform: translate(0%,-50%)
}
    .logo_croud1 p{
        position: absolute;
        font-family: 標楷體;
        font-size: 8vw;
        color: white;
        text-shadow: 0 0 10px #271F1C;
        margin: 0;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
    }
    #top_story{
    top: 10%;
    left: 28vw;
    height: 0%;
    border: none;
    position: absolute;
    background-color: transparent;
}

    #top_story p{
    margin: 0;
    width: 90vw;
    font-family: 標楷體;
    writing-mode: horizontal-tb ;
    font-size: 4.5vw;
    color: white;
    text-shadow: 0 0 1px rgb(32, 29, 29);
    position: absolute;
    left: -215%;
    transform: translate(0%,0%)

}
.banner{
    width: 80%;
    height: 50vh;
    background-color: #cccccc;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%)
}
.chinese_croud{
    position: absolute;
    width: 30%;
    z-index: 10;
}
.chinese_croud.croud1{
    right: 0%;
    top: 0px;
}
.chinese_croud.croud2{
    display: none;
}
#nav{
    width: 100%;
    height: 50px;
}
#nav1{
    width: 100%;
    height: 50px;
    background-color: #271F1C;
    position: relative;
    box-shadow: 0 0 10px 10px rgb(32, 26, 23);
    z-index:2000; 
}
#navhide{
    width: 100%;
    height: 50px;
    background-color: #271F1C;    
}
.logo_croud{
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    position: relative;
}
.cross{
    position: absolute;
    
    top: -45px;
}
.cross .line1, .cross .line2 , .cross .line3 {
            width: 50%;
            border: solid 2px rgb(255, 255, 255);
            border-radius:2px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition-duration: 1s;
        }
.line1{
            top: 30%;
        }

.line2{
            top: 50%;
        }

.line3{
            top: 70%;
        }
.cross.active .line1{
    animation: line1 1s forwards;
}
.cross.active .line2{
    animation: line2 1s forwards;
}
.cross.active .line3{
    animation: line3 1s forwards;
}
@keyframes line1 {
    0% {
        
      }
      70% {top: 50%;
        transform: translate(-50%,-50%);
        
        
      }
      100% {top: 50%;
          transform: translate(-50%,-50%)rotate(-45deg);
        
      }
    }
@keyframes line2 {
    0% {
        
      }
      70% {opacity: 0;
        
        
      }
      100% {opacity: 0;
        
      }
    }
@keyframes line3 {
    0% {
        
      }
      70% {top: 50%;
          transform: translate(-50%,-50%);
        
        
      }
      100% {top: 50%;
          transform: translate(-50%,-50%)rotate(45deg);
        
      }
    }
    

#nav_btn{
    margin:0px;
    width: 50%;
    height: 100px;
    float: none;
    font-family: 標楷體;
    display: flex;   
    flex-wrap: nowrap;
    flex-direction:column;
    position: fixed;
    text-align: center;
    right: 0;
    top:60px;
    transform: translateX(80px);
    transition: all 1s;
    z-index: 1000;

}

#nav_btn.active{
            transform: translateX(-50px);
        }

        
#nav_btn a{
    font-size: 20px;
    
}
#nav_btn_bgc{
    top: 50px;
    width: 122px;
    height: calc(100vh - 50px);
    background-color: rgba(39, 31, 28, 0.5);
    position: fixed;
    right: 0;
    transform: translateX(300px);
    transition: all 1s;
}
.nav_btn_none{
    animation: comehome 1s forwards
}
@keyframes comehome {
    0%{
        transform: translateX(80px);
    }
    100%{
        transform: translateX(80px);
    }
}

.nav_btn_bgc_none{
    display: none;
}
.nav_btn_bgc_block{
    display: block;
}

#nav_btn_bgc.active{
            transform: translateX(0px);
        }
.menu_item{
    width: 40%;
    height: 100px;
    margin-left:30vw;
    right: 0;    
}

.logo{
    width: 50vw;
    height: 3vh;
    background-color: #A32728;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0%,-50%);
}
#nav1 p{
    position: absolute;
    font-family: 標楷體;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 10px #271F1C;
    margin: 0;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#nav_btn{
    width: 40%;
    height: 50px;
    float: right;
    font-family: 標楷體;
    display: flex;   
    flex-wrap: nowrap;
    
}
.been_all{
    width:60%;
    height: 50vh;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top:-30vh; 
}
.been_img{
    position: absolute;
    width: 50vh;
    height: 50vh;
    top: 40%;
    left: 50%;
    border-radius: 5000px;
    transform: translate(-50%,-50%);
    background-image: url('/img/been02.jpg');
    background-attachment:scroll;
    background-size: cover;
    background-position:60% 50%;
    opacity: 0.8;
    margin: 0;
}
.been_tittle{
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    right: 50%;
    top: 15%;
    transform: translate(50%,0%);
    z-index: 1000;
}
.been_tittle pre{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 標楷體;
    text-shadow: 0px 0px 2px black;
    color: white;
    writing-mode: vertical-lr ;
    font-size: 30px;
    margin-top: 30%;
}
.how_to_make{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    background-image: url('/img/how to make 02.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#story_left{
    width: 50vh;
    height: 50vh;
    background-image: url('/img/store old story.jpg');
    background-position: 0% 60%;
    float: left;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.7;

}
.story_left{
    animation: story_left_img 2s forwards cubic-bezier(0.86, 0, 0.07, 1);
    
}

@keyframes story_left_img{

0%{width: 0;
}
100%{
    width: 50vh;
}
    
}
.story_right_img{
    display: none;
}
.story_right{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.story_font{
    width: 50vh;
    height: 60vh;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    text-shadow:  2px 2px 2px black;
}
.story_font pre{
    font-family: 標楷體;
    color: white;
    text-align: center;
    font-size: 15px;
}
#menu{
    background-image: none;
}

.menu_card_croud{
    display:none;
}
.menu_card_croud2{
    display: block;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 5%;
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
 .swiper-slide {
      text-align: center;
      font-size: 18px;

 }



#ig_food{
    width: 40vh;
    height: 40vh;
    background-image: url('/img/been03.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);
    z-index: 1000;
    opacity: 0.5;
    
}
#ig_fog1{
    width: 48vh;
    height: 48vh;
    background-image: url('/img/fog 01.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1000;

    
}
#ig_fog2{
    width: 50vh;
    height: 50vh;
    background-image: url('/img/fog 02.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    right: 10%;
    
}
.instagram_tittle{
    width: 90vw
}
.go_instagram{
    width: 70vw;
    right: 12.5vw;
}
.instagram_tittle .tittle_font{
    font-size: 6vw;
}
.go_instagram .go_font{
    text-align: center;
    width: 60vw;
    font-size: 6vw;
    font-family: 標楷體;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.card{
    width: 30vh;
    height: 30vh;
    background-image: url('/img/123123-06.png');
    background-color: rgba(39, 31, 28, 0.5);
    background-size: contain;
    position: absolute;
    z-index: 1000;
    border: 5px solid sandybrown;
    top: 70%;
    left: 5vw;
    transform: translate(0,-50%)
}
.icon1{
    width: 40px;
    height: 40px;
    background-image: url('/img/facebook_icon.svg');
    background-size: cover;
    background-color: rgb(194, 192, 192);
    border-radius: 50px;
    position: absolute;
    right: 22vw;
    bottom: 10px;
}
#top-btn {
    width: 40px;
    height: 40px;
    bottom: -50px;
    right: 20px;
    position: fixed;
    text-align: center;
    border-radius: 100px;
    background-color: rgb(100, 79, 72);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
    -webkit-transition: all .8s;
    transition: all .8s;
  }

    #top-btn i 
    {
    padding-top: 0px;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    -webkit-transition: all .8s;
    transition: all .8s;
  }
.footer_logo{
    width: 60%;
    height: 10vh;
    position: absolute;
}
}